:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    315deg,
    #42d392 25%,
    #647eff
  );
}

.VPFooter[data-v-80147a0d] {
    padding: 10px;
    bottom: 0;
    width: 100%;
    border-top: 0 solid var(--vp-c-gutter)
}
